body {
  background-color: var(--color-body-background);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
}
