:root {
  --color-body-background: #A1C4FD;
  --color--accent-light: #E2E6FF;
  --color-accent: #324BFF;
  --color-on-accent: #FFFFFF;
  --color-accent-dark: #324BCC;
  --color-on-accent-dark: #FFFFFF;
  --color-surface: #FFFFFF;
  --color-surface-2: #F7F7F7;
  --color-surface-2-dark: #F0F0F0;
  --color-title-1: #333333;
  --color-text: #CCCCCC;
}
